build/
build-mac/
HAL/build-mac/
*.xcuserdata
*.xcworkspace/xcuserdata
DerivedData/
*.o
*.a
*.dylib
*.vst3
*.component
.DS_Store
*.xcuserstate
*.bak
iPlug2/
__pycache__/
*.pyc
.env
*.xcworkspace/xcuserdata/
